<div class="w-100 d-flex flex-column justify-content-center align-items-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="edit-org-grid">
      <div class="org-email field">
        <%= f.label :email, class: "lead"  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="org-password field">
        <%= f.label :password, class: "lead"  %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
      </div>
      <div class="org-confirm field">
        <%= f.label :password_confirmation, class: "lead"  %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
      </div>
      <div class="org-current-password field">
        <%= f.label :current_password, class: "lead"  %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
      </div>
      <div class="org-name field">
        <%= f.label :name, class: "lead"  %><br />
        <em>(unique organization name)</em><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="org-plan field">
        <%= f.label :plan, class: "lead"  %><br />
        <%= f.select :plan, [['FREE', 'free'], ['PREMIUM', 'premium']], {}, {class: "form-select"} %>
      </div>
      <div class="org-subdomain field">
        <%= f.label :subdomain, class: "lead"  %><br />
        <em>(short unique identificator)</em><br />
        <%= f.text_field :subdomain, class: "form-control" %>
      </div>
      <div class="org-submit actions">
        <%= f.submit "Update", class: "btn btn-light btn-lg mb-3"  %>
      </div>
    </div>
  <% end %>
  <h3 class="mt-5">Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), 
                            data: { confirm: "Are you sure?" }, method: :delete,
                            class: "btn btn-danger" %></p>
  <%= link_to "Back", :back %>
</div>
