<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex align-items-center">
      <a class="navbar-brand" href="<%= root_path %>">Management App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="<%= pages_about_path %>">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= pages_plans_path %>">Plans</a>
          </li>
        </ul>
      </div>
      <% if organization_signed_in? %>
        <div>
          <%= link_to current_organization.name, edit_organization_registration_path, class: "btn btn-light me-3" %>
          <%= link_to 'Sign Out', destroy_organization_session_path, class: "btn btn-danger", data: {turbo_method: :delete} %>
        </div>
      <% else %>
        <%= link_to 'Sign In', new_organization_session_path , class: "btn btn-light"%>
      <% end %>
    </div>
  </nav>
</header>
